/************************************
general
********************************/


.wrap{
width:95%;
margin:auto;
color:rgb(79, 82, 112);


}
*{
  background-image: url("../hexagonal_cube_pattern_thingie_by_black_light_studio-d68vloo.png");
}
/***************************************************************
Header
*********************************************************/
.header{
width:100%;
height:1300px;



}







/*********************************************************************
Navigation
*********************************************/
.menu {
font:Times;

}

/*************************************************************
Main
*****************************************************/
.orbit-slide{
width: 80% ;
 margin: auto;

}

.PICTURE{



width: 29%;
}

.orbit{
align-content: stretch;
height:38px

}


.YES{

  background-image: url(../);
}
/**********************************************
Footer
****************************************************/
a:hover{
  color: red;
